src/wsdl/localhost_8080/parcial1_reyesvaldezMarco_web_operaciones_9a/calcularIntensidad.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/3.0.3 (RELEASE-3.0.3-7a63cef; 2021-10-13T11:40:48+0000) JAXWS-RI/3.0.2 JAXWS-API/3.0.1 JAXB-RI/3.0.2 JAXB-API/3.0.1 git-revision#7a63cef. --><xs:schema xmlns:tns="http://parcial1_reyesvaldezmarco_web_operaciones_9a.mycompany.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://parcial1_reyesvaldezmarco_web_operaciones_9a.mycompany.com/">

<xs:element name="calcularIntensidad" type="tns:calcularIntensidad"/>

<xs:element name="calcularIntensidadResponse" type="tns:calcularIntensidadResponse"/>

<xs:complexType name="calcularIntensidad">
<xs:sequence>
<xs:element name="voltaje" type="xs:double"/>
<xs:element name="resistencia" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calcularIntensidadResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>